
<div class="card">
    <div class="card-body">
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae in delectus quae asperiores expedita ullam nam, maiores officia commodi veniam vitae repudiandae, sint nobis rem doloribus error velit minima repellendus.</p>
    </div>
</div>